<ion-footer>
  <ion-toolbar class="footer-content">
    <ion-grid class="cta-section">
      <ion-row class="ion-align-items-center">
        <ion-col class="copyright" size="12" size-md="8">
          <span class="footer-tagline">InnoWeb | &#64;2024</span>
        </ion-col>
        <ion-col class="icons-container">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-github"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>