$theme-blue: #2E69B0;

ion-header {
    width: 100%;
}
ion-button {
    border-radius: 25px;
    --border-radius: 25px;
}
.left-menu {
    text-align: left;
}
.right-menu {
    text-align: right;
}
.right-menu ion-button {
    --color: #234090;
}
.active {
    background-color: #2E69B0;
}
.right-menu ion-button.active {
    --color: #ffffff;
}
.header-logo {
    height:auto;
    width: 70px;
}