$theme-blue: #2E69B0;
$theme-gray: #747373;

.menu {
    width: 100%;
}

.page-banner {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.page-title {
    margin-bottom: 1rem;
}

.lead-section {
    margin: 0;
    font-size: 1.625rem;
    line-height: 1.6;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.project-description {
    display: flex;
    align-items: center;
}

h1,
h3,
ion-label {
    color: $theme-blue;
}

ion-card-title {
    color: $theme-gray;
}

p {
    color: $theme-gray;
}

@media only screen and (max-width: 576px) {
    .project-description {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .h1,
    .hero-title,
    .page-title,
    h1 {
        font-size: 5.125rem;
    }
}

@media only screen and (min-width: 992px) {
    .alt-container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}