<ion-header [translucent]="true" class="ion-hide-lg-down" slot="fixed">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="left-menu">
          <ion-chip>
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>INW</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="8" class="right-menu">
          <ion-button *ngFor="let menuItem of rightMenu" fill="clear">{{ menuItem.name }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true" class="ion-hide-lg-up" slot="fixed">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="banner">
      <!-- <h1 #title>Banner</h1> -->
      <h1>Banner</h1>
      <div>
        <p>Where code meets innovation!</p>
        <!-- <p #square>Where code meets innovation!</p> -->
      </div>
    </div>
  </div>
  <app-portfolio></app-portfolio>
</ion-content>